@import "../theme.css";

.slider {
  position: sticky;
  overflow: auto;
  width: 100%;
  top: 0;
  height: 40px;
  overflow-y: hidden;
  background-color: var(--background-color);
  box-shadow: 0 6px 6px var(--color-gray-light);
  z-index: 1;
}

.inactive {
  pointer-events: none;
}

.slider ul {
  position: relative;
  display: flex;
  list-style: none;
  padding: 12px 40px;
  margin: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  gap: 20px;
  height: 100%;
}

.slider ul li {
  white-space: nowrap;
  font-size: 0.8rem;
  display: flex;
  color: var(--font-color);
}

.slider ul li a:visited {
  color: var(--font-color) !important;
}

.slider ul li a:hover {
  transition: var(--transition);
  color: var(--green);
}

.slider button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  font-size: 30px;
  top: 5px;
  border-radius: 50%;
  color: var(--font-color);
  background-color: var(--background-color);
  box-shadow: 0 0 4px 10px var(--background-color);
  z-index: 2;
}

.slider .left {
  left: 0px;
}

.slider .right {
  right: 0px;
}