@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(70, 157, 244);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.wrapper img {
  width: 80px;
}

.wrapper {
  width: 300px;
  background-color: white;
  border-radius: 10px;
  padding: 25px 20px;
  display: flex;
  align-items: center;
  flex-flow: column;
}

.wrapper h1 {
  font-size: 1.6rem;
  margin-bottom: 25px;
}

.wrapper .content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.wrapper .content select {
  width: 97px;
  padding: 8px;
  border-radius: 4px;
  border-color: lightgray;
  cursor: pointer;
}

button {
  width: 300px;
  background-color: rgb(70, 157, 244);
  color: white;
  border: none;
  margin: 15px;
  padding: 14px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  transition: opacity 150ms ease-in-out;
  opacity: 0.9;
}

.wrapper button:active {
  transition: transform 50ms;
  transform: scale(0.98);
}

.notification {
  position: absolute;
  background-color: darkslategray;
  bottom: -50px;
  transform: scale(0.2);
  opacity: 0;
  transition: bottom 0.8s ease-in-out,
              transform 0.8s ease-in-out,
              opacity 0.8s linear;
}

.popup {
  bottom: 2%;
  transform: scale(1);
  opacity: 1;
}

.alarms-con {
  background: linear-gradient(135deg, dodgerblue, lightgray);
  overflow-x: hidden;
  width: 100%;
  max-height: 350px;
  display: flex;
  flex-flow: column-reverse;
  padding: 5px 0;
  border-radius: 6px;
  color: white;
}

.alarms-con .alarm {
  position: relative;
  width: 100%;
  display: flex;
  min-height: 40px;
  align-items: center;
}

.alarms-con .alarm .alarm-icon,
.alarms-con .alarm .repeat-icon,
.alarms-con .alarm .delete-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  width: 15%;
  cursor: pointer;
  transition: width 300ms ease-in-out;
  color: black;
}

.alarms-con .alarm .repeat-icon .fa-solid {
  transition: transform 300ms ease-in-out;
}

.alarms-con .alarm .alarm-icon {
  cursor: default;
}

.alarms-con .alarm .time {
  position: relative;
  width: 55%;
  right: 0;
  transition: width 300ms ease-in-out;
}

.delete-icon::before {
  position: absolute;
  content: "";
  width: 300px;
  right: -300px;
  background-color: red;
  height: 48px;
  transition: right 300ms linear;
}

.remove .delete-icon {
  width: 30%;
}

.remove .delete-icon::before {
  right: -255px;
}

.remove .delete-icon .fa-trash-can {
  transform: translateX(22.5px);
}

.remove .repeat-icon {
  width: 12% !important;
}

.remove .time {
  width: 49% !important;
}

.remove .alarm-icon {
  width: 12% !important;
}