* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

header {
  position: fixed;
  z-index: 1;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  width: 100%;
  border-bottom: 2px solid seashell;
}

header img {
  height: 50px;
  margin-left: 10px;
}

header nav {
  display: flex;
  width: 400px;
  justify-content: space-between;
  margin-right: 10px;
}

header nav a {
  font-size: 24px;
}

main {
  position: relative;
  top: 69px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

#mission-box {
  display: flex;
  align-items: center;
  background-image: url("images/mission-background.jpg");
  height: 700px;
  width: 1200px;
  margin-bottom: 100px;
}

#mission-box article {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 1200px;
}

#featured-tea-box {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 1050px;
}

#featured-tea-box h2, #featured-tea-box h4 {
  margin-bottom: 18px;
}

#featured-tea-box section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1050px;
}

#featured-tea-box section div {
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 300px;
  margin-right: 50px;
}

#featured-tea-box section div img {
  height: 200px;
}

#featured-tea-box section div h4 {
  margin-top: 8px;
}

#locations-box {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-image: url("images/locations-background.jpg");
  height: 580px;
  width: 1200px;
  margin-top: 100px;
}

#locations-box h2 {
  background: none;
  color: white;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 15px;
}

#locations-box section {
  display: flex;
  align-items: center;
  background: none;
}

#locations-box section div {
  display: inline-flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  margin-right: 40px;
  width: 300px;
  height: 200px;
  opacity: 1;
}

footer {
  position: relative;
  top: 69px;
}

footer h2 {
  text-align: center;
  margin-top: 10px;
}

footer p {
  text-align: center;
  margin-top: 40px;
}

footer p a:link {
  text-decoration: none;
}

#copyright {
  text-align: left;
  margin-left: 20px;
}